        </div>
    </div>
    <footer id="footattri" class="page-footer font-small p-4">
        <div class="container">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase font-weight-bold">Contact Us!</h5>
                        <p>
                            To schedule a tour of our beautiful campus or request additonal information: 
                            <br>
                            <span class="addimportance">Email Us:</span> eagles@villamadonnaschool.com 
                            <br>
                            <span class="addimportance">Call Us:</span> (813) 229-1322 
                            <hr>
                            <div class="d-flex justify-content-center">
                                <a href="https://www.facebook.com/pages/Villa-Madonna-Catholic-School/149027742102" target="_blank"><i class="fab fa-facebook-square pr-2"></i></a>
                                <a href="https://www.youtube.com/channel/UC763KQT40pugX4zMKkBEvjQ" target="_blank"><i class="fab fa-youtube pl-2"></i></a>
                            </div>
                            <hr>
                            Villa Madonna School <br>
                            315 W. Columbus Drive <br>
                            Tampa, FL 33602 <br>
                        </p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-6 mb-md-0 mb-3 align-self-center d-flex justify-content-center">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="190" height="190" id="gmap_canvas" src="https://maps.google.com/maps?q=Villa%20Madonna%20School%20Tampa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                            </div>
                            <style>.mapouter{text-align:right;height:190px;width:190px;}.gmap_canvas {overflow:hidden;background:none!important;height:190px;width:190px;}</style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>