<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
    <head>
        <title>Villa Madonna School</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="device=width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
        <!-- INFO -->
        <meta name="author" content="Villa Madonna Catholic School Tampa"/>
        <meta name="description" content="Private School, in Tampa. Catholic. Elementary, 3yrs - Grade 8, since 1941. Excellent Test Scores, Small Classes, founded and run by the Salesian Sisters"/>
        <meta name="keywords" content="Academic, Catholic School, Catholic Schools Tampa, Nuns, Private Catholic Schools South Tampa, Private Schools South Tampa, Salesian, religious schools, the best elementary school in Tampa"/>
    </head>
    <body>
    <div class="p-4" id="topfont">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <img class="img-fluid" src="https://static.wixstatic.com/media/6b05ff_41a6735972184772bc6f9992200ec3d0.jpg/v1/fill/w_149,h_171,al_c,q_80,usm_0.66_1.00_0.01/6b05ff_41a6735972184772bc6f9992200ec3d0.webp">
                    <div class="d-inline">Villa Madonna Catholic School</div>
                </div>
                <!-- ANY ANNOUNCEMENTS WILL BE PUT HERE (ex: theater, applications) -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="card text-center" style="width: 100%;" id="headercolor">
                        <div class="card-body">
                        <h5 class="card-title"><strong><em>EVENTS</em><strong></h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mid">
        <div id="navboxshadow">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Why Villa?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admissions</a>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn" id="mid"><a class="nav-link" href="#">Extracurriculars</a></button>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="mid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Athletics</a>
                            <a class="dropdown-item" href="#">Fine Arts</a>
                            <a class="dropdown-item" href="#">Theater Department</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn" id="mid"><a class="nav-link" href="#">Academics</a></button>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="mid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Technology</a>
                            <a class="dropdown-item" href="#">Honors Society - NJHS</a>
                            <a class="dropdown-item" href="#">Preschool - Grade 1</a>
                            <a class="dropdown-item" href="#">Grades 2-4</a>
                            <a class="dropdown-item" href="#">Grades 5-8</a>
                            <a class="dropdown-item" href="#">Student Support & Guidance</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Villa Family</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Alumni</a>
                </li>
            </ul>
        </div>
        <div class="container p-3" id="content">