<!DOCTYPE html>
<html>
    <head>
        <title>Villa Madonna School</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="device=width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    </head>
    <body>
    <div id="topfont">
        <div class="container border">
            <div class="row">
                <div class="col border">
                    <img src="https://static.wixstatic.com/media/6b05ff_41a6735972184772bc6f9992200ec3d0.jpg/v1/fill/w_149,h_171,al_c,q_80,usm_0.66_1.00_0.01/6b05ff_41a6735972184772bc6f9992200ec3d0.webp">
                    <div class="d-inline">Villa Madonna Catholic School</div>
                </div>
                <!-- ANY ANNOUNCEMENTS WILL BE PUT HERE (ex: theater, applications) -->
                <div class="col border">
                    <div>ff</div>
                </div>
            </div>
        </div>
    </div>
    <div id="mid">