<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
    <head>
        <title>Villa Madonna School</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="device=width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
        <!-- INFO -->
        <meta name="author" content="Villa Madonna Catholic School Tampa"/>
        <meta name="description" content="Private School, in Tampa. Catholic. Elementary, 3yrs - Grade 8, since 1941. Excellent Test Scores, Small Classes, founded and run by the Salesian Sisters"/>
        <meta name="keywords" content="Academic, Catholic School, Catholic Schools Tampa, Nuns, Private Catholic Schools South Tampa, Private Schools South Tampa, Salesian, religious schools, the best elementary school in Tampa"/>
        <!-- FAVICON -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <!-- FONT AWESOME CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
    <div class="p-4" id="topfont">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <a href="/"><img class="img-fluid rounded mx-auto d-block" src="images/villalogo.jpg" alt="Villa Madonna Logo"></a>
                    <div class="text-center pt-2">Villa Madonna Catholic School</div>
                </div>
                <!-- ANY ANNOUNCEMENTS WILL BE PUT HERE (ex: theater, applications) -->
                <div class="col-md-6 col-sm-12 col-xs-12 align-self-center">
                    <div class="card text-center" style="width: 100%;" id="headercolor">
                        <div class="card-body">
                        <h2 class="card-title"><strong>EVENTS</strong></h2>
                        <p class="card-text">
                            NOW ACCEPTING APPLICATIONS:<br>
                            <a href="mailto:eagles@villamadonnaschool.com?subject=2019-2020 Registration Information" target="_self" data-content="eagles@villamadonnaschool.com" data-type="mail" title="" style="width:70px;height:70px" id="comp-jn90yuxylink" class="ImageButton_1link">
                            Click here to register via email.
                            </a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mid">
        <nav class="navbar navbar-expand-md sticky-top" id="navboxshadow">
                <!-- MX-AUTO MAKES THE HAMBURGER MENU CENTERED -->
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#collapse_target">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapse_target">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about-us" class="nav-link">Why Villa?</a>
                        </li>
                        <li class="nav-item">
                            <a href="/testimonials" class="nav-link">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admissions" class="nav-link">Admissions</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#extracurcs">
                                Extracurriculars
                            <!-- CARET ADDS THE LITTLE DROPDOWN ICON-->
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu animate slideIn" aria-labelledby="extracurcs">
                                <a href="/athletics" class="dropdown-item">Athletics</a>
                                <div class="dropdown-divider"></div>
                                <a href="/fine-arts" class="dropdown-item">Fine Arts</a>
                                <div class="dropdown-divider"></div>
                                <a href="/theater-department" class="dropdown-item">Theater Department</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#academs">
                                Academics
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu animate slideIn" aria-labelledby="academs">
                                <a href="/technology" class="dropdown-item">Technology</a>
                                <div class="dropdown-divider"></div>
                                <a href="/njhs" class="dropdown-item">Honors Society - NJHS</a>
                                <div class="dropdown-divider"></div>
                                <a href="/lowergrades" class="dropdown-item">Preschool - Grade 1</a>
                                <div class="dropdown-divider"></div>
                                <a href="/middlegrades" class="dropdown-item">Grades 2-4</a>
                                <div class="dropdown-divider"></div>
                                <a href="/latergrades" class="dropdown-item">Grades 5-8</a>
                                <div class="dropdown-divider"></div>
                                <a href="/student-support" class="dropdown-item">Student Supports & Guidance</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/villa-family" class="nav-link">Villa Family</a>
                        </li>
                        <li class="nav-item">
                            <a href="/alumni" class="nav-link">Alumni</a>
                        </li>
                    </ul>
                </div>
        </nav>
        <div class="container p-3" id="content">