<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers">Why Choose Villa Madonna?</p>
        <img src="images/whyvilla/srmaryprayingclass.webp" alt="Villa Madonna, Sr. Mary Praying in Class" class="img-fluid rounded mx-auto d-block" id="contentimages">
    </div>    

    <div id="contentwrapper">
        <p class="lesserheader">Excellent Scores</p>
        <div class="contentfontsize">
            Villa Madonna's national standardized scores are consistently well above the national average private school student, in the areas of Math, Science, and Reading. 
            Villa Madonna is a proud, active member of the National Junior Honors Society. The majority of Villa Madonna graduates attend Jesuit, Tampa Catholic, and Academy of the Holy Names, 
            with a small percentage attending public, or International Baccalaureate programs. Students are encouraged to be involved at school, within their local community, as well as 
            nationally and globally. Click here to read more about specific grade levels and the Academic Programs here at Villa Madonna.
        </div>
    </div>

    <img src="images/whyvilla/graduatepiechart.webp" alt="Villa Madonna 2017 Graduate Choices" class="img-fluid rounded mx-auto d-block">

    <div id="contentwrapper">
        <p class="lesserheader">Small Classes</p>
        <div class="contentfontsize">
            Villa Madonna School limits class size, in order to maximize student-teacher and student-student interaction. One can expect there to be 20-30 kids per class, which allows
            for the student-teacher and student-student interaction to flourish.
        </div>
    </div>
    
    <div id="contentwrapper">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 align-self-center d-flex justify-content-center">
                <img src="images/whyvilla/eigthgradegrad.webp" alt="Villa Madonna 8th Grade Graduation" class="img-fluid rounded mx-auto d-block" id="contentimages">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p class="lesserheader">Global Community</p>
                <div class="contentfontsize">
                    Villa Madonna School is only one of many Salesian Schools in the Eastern U.S. The Salesian Sisters, founded by Saint Don Bosco in 1840, operate schools and missions 
                    in over 130 countries. Villa Madonna School proudly supports the efforts of Salesian Sisters worldwide, and enjoys being part of a global community dedicated to social 
                    justice. When you are a Salesian student or family, you are part of a global initiative.
                </div>
            </div>
        </div>
    </div>

    <div id="contentwrapper">
        <p class="h1 h1headers">Meet Our Sisters</p>
        <div class="contentfontsize">
            Founded by Saint John Bosco in Italy in 1840, the Salesian order is dedicated to the care of youth. Don Bosco believed everything should be done with "Reason, Religion, 
            and Loving Kindness." This motto, though more than 100 years old, remains the foundation for the spirit of Villa Madonna faculty, staff, students and families still today.  
            Rooted in respect, Don Bosco's message touches every student at Villa Madonna, embodies our social culture, and remains alive long after graduating.
            <br>
            Villa Madonna is blessed to be the home of several energetic, vibrant, and playful Salesian Sisters. They can often be found rollerblading at recess, playing basketball, teaching 
            math, and even coaching soccer....all while wearing the famous white habits!
        </div>
    </div>

    <div id="contentwrapper">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <figure class="figure">
                    <img src="images/whyvilla/srGuerlineJoseph.webp" alt="Sr. Guerline Joseph" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption text-right">Sr. Guerline Joseph</figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <figure class="figure">
                    <img src="images/whyvilla/srmaryjackson.webp" alt="Sr. Mary Jackson" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption text-right">Sr. Mary Jackson</figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <figure class="figure">
                    <img src="images/whyvilla/srJooYunPark.webp" alt="Sr. Joo Yun Park" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption text-right">Sr. Joo Yun Park</figcaption>
                </figure>
            </div>
        </div>
    </div>

<% include ./partials/foot.ejs %>