<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers">Admission & Inquiry Process</p>
        <div class="contentfontsize">
            The Salesian Sisters strive to make a Catholic education available for all. Villa Madonna limits class size, so the admissions process begins with an 
            inquiry into availability of space in the grade(s) in which you are interested. Our admission process is quick and easy.
        </div>
    </div>

    <div id="contentwrapper">
        <p class="h1 h1headers" id="textleft">STEP ONE:</p>
        <p class="lesserheader" id="textleft">Tour & Application<p>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contentfontsize">
                    Step one is to contact us for a tour. Check the contact page below, which is next to the map, for an email to contact us. Request a tour via the email. 
                    Our application is free of charge. Please complete the application and attach all necessary documentation and return it to our school. Once your completed application 
                    is received, an interview with our principal will be scheduled.
                    <div class="mt-2"> All applications must include:
                        <ul class="mb-0">
                            <li>Report cards from last two school years</li>
                            <li>Standardized test results for last two school years</li>
                            <li>Any guidance or student support plans</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
                <img src="images/admissions/stepone.jpg" alt="Villa Madonna, Teaching Children" class="img-fluid rounded mx-auto d-block mt-3" id="contentimages">
            </div>
        </div>
    </div>

    <div id="contentwrapper">
        <p class="h1 h1headers" id="textleft">STEP TWO:</p>
        <p class="lesserheader" id="textleft">Interview & Student Visit<p>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contentfontsize">
                    Once you have met with our princiapl, Sr. Mary Jackson, your child(ren) may become an "Eagle-for-the-Day" and get to spend the day as a Villa student!
                    <br>
                    Simple. Easy. Friendly.
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
                <img src="images/admissions/steptwo.jpg" alt="Villa Madonna, Students on Ipads" class="img-fluid rounded mx-auto d-block mt-3" id="contentimages">
            </div>
        </div>
    </div>

    <div id="contentwrapper">
        <p class="h1 h1headers" id="textleft">STEP THREE:</p>
        <p class="lesserheader" id="textleft">Tuition<p>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contentfontsize">
                    Villa Madonna is one of the most affordable private schools in Tampa. The Salesian Sisters are dedicated to making a Catholic education available 
                    to as many families as possible.
                    <br>
                    Discounts are available for families with more than one child regstering. Scholarships and tuition assistance are available on a need-basis. 
                    All financial matters are dealt with in a respectful, discreet, and confidential manner.
                    <br>
                    Tuition can be paid in full, or on a monthly basis. Our Financial Department will assist you in deciding on the best payment plan for your family.
                    <br>
                    <div align="center" class="pt-3">
                        <a href="files/financialinfo.pdf"><button type="button" class="btn btn-warning">Tuition Info</button></a>
                        <a href="files/assistanceprogram.pdf"><button type="button" class="btn btn-warning">Scholarship</button></a>
                        <figcaption class="figure-caption text-center pt-1">
                            (Click for info)
                        </figcaption>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
                <img src="images/admissions/stepthree.jpg" alt="Villa Madonna 8th Grade Graduation" class="img-fluid rounded mx-auto d-block mt-3" id="contentimages">
            </div>
        </div>
    </div>

<% include ./partials/foot.ejs %>