<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1header">Admission & Inquiry Process</p>
        <div class="contentfontsize">
            The Salesian Sisters strive to make a Catholic education available for all. Villa Madonna limits class size, so the admissions process begins with an 
            inquiry into availability of space in the grade(s) in which you are interested. Our admission process is quick and easy.
        </div>
    </div>

<% include ./partials/foot.ejs %>