<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers pb-2">Once a Salesian, Always a Salesian!</p>
        <img src="images/alumni/phyfitrec.webp" alt="Villa Madonna President's Test Records" class="img-fluid rounded mx-auto d-block" id="contentimages">
        <p class="lesserheader">
            Remember the President's Fitness Test at Villa?
            <br>
            Do YOU still hold a record?
        </p>
    </div>

    <div id="contentwrapper">
        <p class="h1 h1headers pb-2">Alumni Happenings</p>
        <img src="images/alumni/stemscifair.webp" alt="STEM Science Fair" class="img-fluid rounded mx-auto d-block" id="contentimages">
        <div class="contentfontsize">
            Garrett Adams, Villa Madonna class of 2013, and a senior at Tampa Catholic High School, won 1st place out of (his category) 2500 participants in the Hillsborough County 
            STEM Science Fair held at the Tampa Convention Center in 2016. Adams built and programmed a drone for the purpose of carrying life-saving devices to swimmers in distress. 
            It is believed that Adams’ drone is faster in aiding swimmers than a human lifeguard. Garrett is also currently working with a group of engineers and AAA in Orlando for 
            the development of a drone that will carry necessary supplies to stranded drivers (dead batteries, flat tires, etc). Congratulations Garrett! 
        </div>
    </div>
    
    <div id="contentwrapper">
        <img src="images/alumni/holocaustreflection.webp" alt="Holocaust Reflection Award" class="img-fluid rounded mx-auto d-block" id="contentimages">
        <div class="contentfontsize">
            Dominique, class of '15 at Villa Madonna School, won the 2015 Holocaust Reflection Contest for middle school students with her drawing entitled “The Bliss of Hope.”
            <br>
            With her award, Dominique and her teacher, Angela Tillman, received an all-expenses paid trip in June to Washington, D.C., which included a private tour of the Holocaust 
            Memorial Museum, a meeting at CNN studios with John King, a tour of Fox News with John Rosen, meetings at the Israeli and German embassies, and some one-on-one time with Sen. 
            Tom Cotton and Rep. Debbie Wasserman Schultz.
        </div>
    </div>

    <div id="contentwrapper">
        <div id="childselector">
            <div>
                <img src="images/alumni/statueofbosco.webp" alt="St. John Bosco Statue" class="img-fluid rounded mx-auto d-block" id="contentimages contentheightimage">
                <div class="contentfontsize">
                    Alexa ('06) and Austin ('09) Rodriguez with the Don Bosco statue inside St. Peter's Basillica in Rome.
                </div>
            </div>
            <div>
                <img src="images/alumni/josslyn.webp" alt="Villa Madonna Student Josslyn" class="img-fluid rounded mx-auto d-block" id="contentimages contentheightimage">
                <div class="contentfontsize">
                    Josslyn, class of '16 Saludatorian, was awarded state recognition through the Duke Tip Talent Program, scoring the highest score among 7th Graders!
                </div>
            </div>
        </div>
    </div>

    <div id="contentwrapper">
        <img src="images/alumni/eddie.webp" alt="Villa Madonna Student Eddie" class="img-fluid rounded mx-auto d-block" id="contentimages">
        <div class="contentfontsize">
            Eddie, class of 2018 was selected from thousands of entries across the United States, as a winner in the 2014-2015 Christmas Card Artwork Contest of the Missionary Childhood 
            Association. His artwork is currently being displayed in the Basilica of the National Shrine of the Immaculate Conception in Washington D.C.
        </div>
    </div>

    <div id="contentwrapper">
        <img src="images/alumni/ljruth.webp" alt="L.J. Ruth" class="img-fluid rounded mx-auto d-block" id="contentimages">
        <div class="contentfontsize">
            L.J. Ruth (c/o 2018) is an actor, model and voiceover artist.  He can currently be seen in the movie Baywatch, starring “The Rock” Dwayne Johnson and Zac Efron.  
            L.J.’s voice can be heard on TV, radio, in video games, apps, and children’s audiobooks both nationally and internationally. He shared his talent with Villa Madonna, 
            appearing as the "Croc" in Peter Pan Jr. 
            <br>
            Check out his website at <a href="http://www.ljruth.com" target="_blank">www.ljruth.com</a> to follow his latest projects!
        </div>
    </div>

    <div id="contentwrapper">
        <img src="images/alumni/jacobech.webp" alt="Building PC" class="img-fluid rounded mx-auto d-block" id="smallcontentimages">
        <div class="contentfontsize">
            Jacob, class of '16, built his own computer from scratch! Jacob did most of his research using various Youtube videos, and ordered parts online. 
            His tower-style computer includes Windows 7, supports all his gaming sites,  and is fully operational!
        </div>
    </div>

    <img src="images/alumni/alumnivolley.webp" alt="Villa Madonna Alumni Volleyball Match" class="img-fluid rounded mx-auto d-block" id="contentimages">
    <p class="h1 h1headers">Alumni vs. Girls Volleyball Scrimmage</p>

    <div class="d-flex align-items-center">
        <img src="images/alumni/contactamy.webp" alt="Contact Amy">
    </div>
    <figcaption class="figure-caption">
            Contact Amy DeMarinis with Alumni News and Information
            <br>
            ademarinis@villamadonnaschool.com
    </figcaption>

<% include ./partials/foot.ejs %>