<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers">Athletic Department</p>
        <div class="contentfontsize">
            Villa Madonna's award winning Athletic Department is built upon a strong Salesian foundation of "God, Others, Self." Physical Education classes and Athletic Teams 
            are all deeply rooted in self-discipline and good sportsmanship.
        </div>
    </div>

    <img src="images/athletic/villamascot.jpg" alt="Villa Madonna Mascot" class="img-fluid rounded mx-auto d-block pt-3 pb-3" id="smallcontentimages">
    <figcaption class="figure-caption text-center pb-2">
            The School Mascot
        </figcaption>

    <div id="contentwrapper">
        <p class="lesserheader">Physical Education Classes</p>
        <div class="contentfontsize">
            Physical Education classes are offered to all students at Villa Madonna. Younger students participate in PE class twice a week, and older students participate three times per week.
            <br>
            Our veteran staff of coaches encourages students from an early age to be physically fit. Students participate in the Presidential Fitness Test annually, as a way to motivate 
            their physical fitness in many areas.
            <img src="images/athletic/smilingbasketball.jpg" alt="Villa Madonna Basketball" class="img-fluid rounded mx-auto d-block pt-3 pb-3" id="smallcontentimages">
            Students begin each PE class with a 5 minute jog at their own pace. This simple beginning activity does wonders for both physical fitness and mental fitness. 
            It is thought to be one of the secrets to the Villa Madonna Track team's domination at annual track meets!
            <br>
            PE classes focus on basic movement skills through drills and organized games, as well as the fundamentals of sports such as football, 
            baseball, volleyball, basketball, archery, and many more.
            <br>
            Salesian spirit is stressed in all activities. Healthy competition and good sportsmanship are expected and required at all times.
        </div>
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Villa Athletic Program</p>
        <div class="contentfontsize">
            Villa Madonna is proud of our award winning Athletic Department. Villa Madonna is consistently at the top of our conference, which includes all area Catholic and private schools. 
            Students can try out for Villa Madonna Athletic Teams beginning in the 5th Grade. Junior Varsity and Varsity Teams are offered in most sports. Villa Madonna Athletic Teams inlcude:
            <div class="mt-2">
                <ul class="mb-0" >
                    <li>Track & Field</li>
                    <li>Cross-Country</li>
                    <li>Basketball</li>
                    <li>Volleyball</li>
                    <li>Soccer</li>
                    <li>Flag Football</li>
                </ul>
            </div>
        </div>
    </div>

<% include ./partials/foot.ejs %>