<% include ./partials/head.ejs %>

    <div id="contentwrapper">  
        <p class="h1 h1headers">Grade 5 - Grad 8 Academics</p>
        <div class="contentfontsize">
            Villa Madonna graduates are very well prepared for the next step, high school. <strong>Our students' standardized test scores exceed the average private school test score 
            locally, and nationally. More than 90% of Villa Graduates attend private high schools; the rest attend IB programs and public high school.</strong> The process of preparing for 
            high school begins in middle school. Villa Madonna hosts High School Parent Nights, where parents can meet and speak with local high school coordinators, and gather all 
            information needed to make the transition easy for all.
        </div>
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Math</p>
        <div class="contentfontsize">
            The Villa Madonna Math Department has seen incredible success in recent years, exceeding the average private school test scores both locally and nationally. 
            Stress is placed on higher-order thinking and reasoning skills in the older grades. We offer Enrichment, and Support Programs in order to encourage every level of learner. 
            Algebra and Traditional Math classes are offered to 8th Grade students, in order to prepare students for high school.
        </div>
        <img src="images/latergrades/mathwork.jpg" alt="Math Work" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Religion & Languages</p>
        <div class="contentfontsize">
            Villa Madonna is blessed to have a strong religious spirit. The presence of Salesian Sisters, and their involvement in daily student life is priceless. 
            Students in the middle school become an example to our younger students and receive a deep, thorough Catholic education based on the teaching of Saint Don Bosco.
            <br>
            Students in grades 5-8 receive instruction in Spanish. Our talented Spanish teacher makes learning Spanish fun through cooking, singing, acting, and even learning to 
            pray in Spanish! Our Spanish textbook is interactive through the use of I-pads; students can actually hear the text and the correct pronunciation of phrases - wherever they go! 
        </div>
        <img src="images/latergrades/religiousprepartion.jpg" alt="Villa Madonna Students Preparing for Mass" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Literature & English</p>
        <div class="contentfontsize">
            While  striving for academic excellence, the middle school Language Arts curriculum introduces weekly concepts and topics using videos, photographs, and interactive 
            graphic organizers. We teach utilizing multiple techniques to engage students with the text. Mini-lessons include-comprehension strategies, genre, vocabulary strategies, 
            and writing traits. Furthermore, we anchor the text through close readings and extended complex text to which students apply strategies and skills in the course ebooks, 
            interactive text, listening library, and English/Spanish summaries. Integrating technology, we offer short and sustained projects, reading across texts, and analytical writing. 
            Key components supporting these objectives are online research, writer's workspace, and interactive group projects. In conclusion, students will be evaluated and given weekly, 
            unit, and benchmark assessments by means of online tools and written reports.
        </div>
        <img src="images/latergrades/writingpaper.jpg" alt="Writing on Paper" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Science & Social Studies</p>
        <div class="contentfontsize">
            Villa Madonna has a full science laboratory and STEM LAB on campus. Students have daily science class and enjoy many hands-on experiments and projects dealing with Earth 
            Science, Biology, Anatomy and many more! Students' test scores in Science are above average both nationally and locally.
            <br>
            Students at Villa Madonna gain a full and rich understanding of history, including American History, Civics, and World History. Students gain an understanding of our 
            local government with a trip to the courthouse in nearby Downtown Tampa. Students participate in mock trials and learn the workings of the justice system.
        </div>
        <img src="images/latergrades/scienceproject.jpg" alt="Villa Madonna Students Working on Science Project" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

<% include ./partials/foot.ejs %>