<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers">Early Childhood - First Grade Academics</p>
        <p class="lesserheader">Early Childhood Program for Ages 3 and 4</p>
        <div class="contentfontsize">
            The Early Childhood Program includes a 3 and 4 year old program in order to better serve the broad spectrum of the developmental needs of young children at this stage. 
            The curriculum includes developing, improving and refining skills that are necessary to achieve success at the Kindergarten level. Early Childhood at Villa Madonna includes:
            <div class="mt-2">
                <ul class="mb-0" >
                    <li>Knowledge of nursery rhymes, the alphabet, letter sounds, numbers, counting, one to one correspondence, shapes and colors, fine and gross motor skills</li>
                    <li>Writing, coloring, painting, cutting, singing songs (using body movements), actively participating in Physical Education classes</li>
                    <li>Recess at Ana Maria Park, and even splash time at their very own Fountain Court!</li>
                    <li>Religion is infused throughout the curriculum. Children learn that we are all children of God and that He loves and cares for us.  
                    Children begin attending scheduled school-wide Masses and/or prayer services with the older students in November.</li>
                </ul>
            </div>
        </div>
        <img src="images/lowergrades/earlyprogram.jpg" alt="Kid Smiling in Villa Madonna Classroom" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Kindergarten</p>
        <div class="contentfontsize">
            The Kindergarten program at Villa Madonna includes strong curriculum and integrates Religion throughout all subjects. The Kindergarten program at Villa Madonna includes:
            <div class="mt-2">
                <ul class="mb-0" >
                    <li>Formal curriculum textbook and/or workbook series for Math, Language Arts, Science, and Religion</li>
                    <li>Accelerated Reader program, and Library classes</li>
                    <li>Daily Recess and Physical Education classes</li>
                    <li>Technology is integrated into the classroom as well as weekly computer classes</li>
                    <li>Music and Art classes, and participation in the annual Christmas performance and school-wide musical productions</li>
                    <li>After school activities offered on-campus such as Karate, soccer, choir, and band</li>
                    <li>Kindergarten students attend school Mass with an 8th grade buddy</li>
                </ul>
            </div>
        </div>
        <img src="images/lowergrades/kindergarten.jpg" alt="Nun Showing Students Stations of the Cross" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">First Grade</p>
        <div class="contentfontsize">
            First Grade at Villa Madonna includes a very challenging and effective curriculum in all subject areas. 
            In addition to the core curriculum, the following programs are offered to the First Grade at Villa Madonna:
            <div class="mt-2">
                <ul class="mb-0" >
                    <li>Computer Classes</li>
                    <li>Music and Art classes</li>
                    <li>P.E. classes and daily recess</li>
                    <li>Accelerated Reader Program and Library classes</li>
                    <li>School Masses and daily open chapel during recess</li>
                    <li>Participation in annual Christmas production and school wide musical production</li>
                    <li>After school activities offered on-campus such as Karate, soccer, choir, and band</li>
                </ul>
            </div>
        </div>
        <img src="images/lowergrades/firstgrade.jpg" alt="Recycling Program at Villa Madonna" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
        <figcaption class="figure-caption text-center pb-2">
            The First Grade at Villa Madonna was featured in the Tampa Tribune for growing vegetables in special recycling tubs - a new program being offered in the Tampa area.
        </figcaption>
    </div>

<% include ./partials/foot.ejs %>