<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers">Grade 2 - Grade 4 Academics</p>
        <div class="contentfontsize">
            <strong>Villa Madonna students scored better than the average private school locally and nationally in Math, Language Arts, and Science!!</strong>
            We are so proud of our students, parents and dedicated teachers!
        </div>
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Math</p>
        <div class="contentfontsize">
            As well as having an exceptional math program, Villa Madonna is proud to be the host of the MATH BOWL for Tampa private schools.
            <div class="mt-2">
                <ul class="mb-0" >
                    <li>Higher-order thinking and reasoning skills are the foundation of our unique Math curriculum</li>
                    <li>Mastery of basic skills is required and acheived in Grades 2-4</li>
                    <li>Villa Madonna is one of the only schools in Florida to use an innovative Algebra program based on manipulatives. Students build, solve, and even write their own multi-step Algebra problems.</li>
                    <li>Technology is used daily in enrichment activities such as stock market projects, physics games, and logic puzzles</li>
                    <li>Enrichment Activities, and Remediation Support are offered in Math in order to support and encourage EVERY learner</li>
                    <li>Participation in annual Christmas production and school wide musical production</li>
                    <li>Villa Madonna is the host of the annual MATH BOWL for private schools. Villa Madonna students compete against schools from Tampa, St. Pete, and Clearwater.</li>
                </ul>
            </div>
        </div>
        <img src="images/middlegrades/mathsolving.webp" alt="Villa Madonna Students Solving Math" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Religion</p>
        <div class="contentfontsize">
            Religion is at the heart of all we do at Villa Madonna. We are proud to have earned a reputation for having one of the strongest spiritual school environments in Tampa.
            The Ana Maria Award, recognizing outstanding Christian values, is awarded to one student in each grade every year, along with a scholarship for a year's tuition.
            Our Salesian Sisters actively participate in student daily life - from administration to classroom teachers, even coaching sports or playing at recess. 
            Students interact with Sisters on a daily basis.
            <div class="mt-2">
                <ul class="mb-0" >
                    <li>Daily Religion class</li>
                    <li>Open-chapel at recess allows students optional time to take a quick quiet moment in prayer for a special intention</li>
                    <li>Monthly school Masses and Holy Day Celebrations - parents welcome to attend and sit with child(ren)</li>
                    <li>Annual Youth Rally</li>
                </ul>
            </div>
        </div>
        <img src="images/middlegrades/prayinginchurch.webp" alt="Villa Madonna Students Praying in Chuch" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Language Arts</p>
        <div class="contentfontsize">
            Cursive handwriting is taught beginning in the 2nd Grade, and is primarily used in 3rd and 4th Grade. Students who come to Villa Madonna not having been taught cursive, 
            are instructed and generally are proficient in a few months with simple encouragement.
            <div class="mt-2">
                <ul class="mb-0" >
                    <li>Our Language Arts program at Villa Madonna is literature based, language rich, and focused on written expression</li>
                    <li>A Writing Portfolio follows each student from Preschool through the Eighth Grade</li>
                    <li>"Creativity in Written Expression" and "Attention to Detail" are well balanced</li>
                    <li>Accelerated Reader program includes individualized goals based on STAR testing and student skill</li>
                </ul>
            </div>
        </div>
        <img src="images/middlegrades/studentraisinghand.webp" alt="Villa Madonna Student Raising Hand in Class" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">Science</p>
        <div class="contentfontsize">
            Hands-on experiments and labs are the basis of our fun, discovery-based science curriculum. Students enjoy experiments in the STEM LAB and in the classroom. Our textbook series 
            are the latest, most up-to-date available. Some of our most popular experiments and labs include:
            <div class="mt-2">
                <ul class="mb-0" >
                    <li>Solar cookers</li>
                    <li>Optical illusion rooms</li>
                    <li>Rock and soil composition study</li>
                    <li>Constellation and star guide</li>
                    <li>LEGO Robotics and Geometry Lab</li>
                </ul>
            </div>
        </div>
        <img src="images/middlegrades/lookingoutsidewindow.webp" alt="Villa Madonna Students Looking Outside Window" class="img-fluid rounded mx-auto d-block mt-3" id="smallcontentimages">
    </div>

<% include ./partials/foot.ejs %>