<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1header pb-3">The Page You Are Looking for Could Not Be Found</p>
        <img src="https://static.wixstatic.com/media/6b05ff_82f57b7c111c4b89bd1811ede014e532.jpg/v1/fill/w_746,h_497,al_c,q_90/6b05ff_82f57b7c111c4b89bd1811ede014e532.webp" class="img-fluid rounded mx-auto d-block" id="contentimages">
        <figcaption class="figure-caption text-center pt-3">
            Enjoy this picture.
        </figcaption>
    </div>

<% include ./partials/foot.ejs %>