<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers pb-3">The Page You Are Looking for Could Not Be Found</p>
        <img src="images/whyvilla/srmaryprayingclass.webp" class="img-fluid rounded mx-auto d-block" id="contentimages" alt="Sr. Mary Praying in Class">
        <figcaption class="figure-caption text-center pt-3">
            Enjoy this picture.
        </figcaption>
    </div>

<% include ./partials/foot.ejs %>