<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers">Student Support & Guidance</p>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 align-self-center d-flex justify-content-center">
                <img src="images/student-support/studentsup.webp" alt="Villa Madonna Caring Nun" class="img-fluid rounded mx-auto d-block" id="contentimages">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contentfontsize p-3">
                    Villa Madonna recognizes all students have different needs in different areas. We have a full time School Counselor and Student Support Teacher on 
                    staff in order to help every child perform at their best.
                    <div class="mt-2">
                        <ul class="mb-0">
                            <li>Full-time School Counselor teaches monthly lessons on social and emotional health</li>
                            <li>Any student can request a private and confidential meeting or "chat" with the counselor for any reason</li>
                            <li>Family, Faculty and School Counselor become a support team that meets frequently to provide feedback and support to students with formal Student Support Plans.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/foot.ejs %>