<% include ./partials/head.ejs  %>

    <div id="contentwrapper">
        <p class="h1 h1headers">Technology</p>
        <p class="lesserheader">In the Hands of Our Students, Every Day<p>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contentfontsize p-3">
                    <u><strong>Pre-Kindergarten - Grade 2</strong></u>
                    <br>
                    Students have laptops in every classroom as well as computer classes weekly.
                    <br>
                    <div class="pt-3 pb-1">
                        <u><strong>Grades 3-5</strong></u>
                        <br>
                        Students in grades 3 - 5 each use a laptop or iPad every day, in most classes. Texts and homework areavailable online through PlusPortals.
                    </div>
                    <br>
                    <u><strong>Grades 6-8</u></strong>
                    <br>
                    <strong>All Students in grades 6-8 receive an iPad to use for the school year.</strong>
                    All notes are kept on the iPad, which limits the number of folders and notebooks.
                    All textbooks are available online, and most are interactive (sound and animation)
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 align-self-center d-flex justify-content-center">
                <img src="images/technology/ipadlaughing.jpg" alt="Students on IPad Laughing" class="img-fluid rounded mx-auto d-block" id="contentimages">
            </div>
        </div>
    </div>

    <div id="contentwrapper">
        <div class="contentfontsize">
            Villa Madonna students run a weekly TV show that is aired live in every classroom! The students can sign up to be hosts, technicians, and even have a recurring segment! 
            Watch this video, created by students, that explains more about the Technology at Villa!
        </div>
        <div class="iframe-container">
            <iframe width="560" height="315"
                src="//www.youtube.com/embed/K7JdfFlYfUk?wmode=transparent&amp;autoplay=0&amp;theme=dark&amp;controls=1&amp;autohide=0&amp;loop=1&amp;showinfo=0&amp;rel=0&amp;playlist=K7JdfFlYfUk&amp;enablejsapi=0">
            </iframe>
        </div>
    </div>

<% include ./partials/foot.ejs %>