<% include ./partials/head.ejs %>

    <div class="contentwrapper">
        <p class="h1 h1headers text-center">Testimonials</p>
        <figcaption class="figure-caption text-center pb-2">
            Testimonials from Our Villa Family
            <br>
            A collection of emails, letters, Facebook posts, and short notes
        </figcaption>

        <div id="testimonialtext">
            Dear Sr. Mary Jackson,
            <br>
            When I think about my favorite quotes of all time “There are many people who can do big things, but there are very few people who will do the small things” 
            by Mother Teresa, I think of  Sr. Susan’s warm smile greeting us each day when I drop of my son. I think about Sr. Janet’s & Sr. Elfies’ playful and loving disposition 
            as they lead the children throughout the day and your strong spiritual guidance and sincere interest in each of our lives.  I also think about our wonderful teachers 
            and staff throughout the school who take the time to care about us. You see, Villa Madonna exemplifies more than just an excellent education; it draws out the best in our 
            children in many ways. Our Villa family has helped me continue at school the spiritual lessons I teach at home. Thank you for helping me instill in him a missionary heart…
            I am forever grateful. God bless our Villa family. Thank you!
            <br>
            Warm Regards,
            Lourdes S
        </div>

        <div id="testimonialtext">
            As a new Villa family we've had nothing but a great experience from day one! We feel so much love. When I think of the school and the experience that Joey is having on a 
            daily basis, I think of family, Joey is so happy! Myself and my husband have also had a chance to be very involved with the school and every event that we have participated in 
            or helped with has been a great time for everyone! We love the weekly communication from our principal, Sr. Mary, which keeps us very involved and very informed in all the events 
            going on at school. We are proud to send our child to Villa and highly recommend Villa for anyone wanting their child to have a loving, challenging, and Christ filled experience.
            <br>
            Thank you
            <br>
            Jenni C
        </div>

        <div id="testimonialtext">
            Stephanie W  - This school changed my daughter's life in a wonderful way. I can't tell you how glad we are that we made the change from public to private and to Villa specifically! 
            The teachers care about each child and work with them to bring out the best in them! Thank you Villa!
        </div>

        <div id="testimonialtext">
            Brady – Grade 6
            <br>
            Villa is a great place to go! It is like a second home to me. I've been going since 2nd grade and it has been a great place to make friends. 
            The sisters are exciting and so friendly. Villa has many extracurricular activities: basketball, flag football, soccer, The play, etc. all of the sports encourage sportsmanship 
            and that winning is not what it's about, it's about having fun. I participate in Basketball, The Play, and track. I love to wake up and go to school because it has such an 
            amazing atmosphere.
            <br>
            The play, run by Sr. Harst, is so much fun! Everyone participates, even the 3 year olds. Last years play was " Fiddler on the Roof" , this year's is "The Little Mermaid". 
            In conclusion, Villa is one of the best places on earth.
        </div>

        <div id="testimonialtext">
            I look forward to having my son finish his middle school experience under your warm and caring direction!  I am so very thankful for Villa!
            <br>
            (My son) is becoming his best self with you and the Villa family. Thank you for all you're working to do!
        </div>

        <div id="testimonialtext">
            Peyton – High School Sophmore
            <br>
            From friendships to extra-curriculars to school work, Villa set me up for success in way I didn't
            realize until I got into high school. At Villa, you are everyone's number one priority. They treat you, l
            ike you would treat someone they love, like a family member. My teachers were the people I trusted the most, whether I was having trouble in a class or with a friend, 
            they knew how to help. They believed in me-it boosted my confidence. The play showed me how to work with others, and Soaring Eagles band helped me connect with God on a 
            new level. The sports taught me to be tough, but still be fair and have good sportsmanship. My coaches and directors helped me, they guided me as I took new steps.
            <br>
            My teachers would spend extra time with me if I didn't understand something, and my coaches would help me with the extra moves if I needed it. With the guidance of them, 
            I know that I passed my entrance exam to TC, along with other tests I've taken along the way, without any hardships.
            <br>
            At Villa, helping you become the best version of yourself is the main goal. The office staff knew my name, teachers I never had, did too. Villa treated me like family, no matter what. 
            They helped me take my first steps onto becoming a well-rounded high school student. I'm glad to say that if I had the chance, 
            I would go back and do it all over again. And though I can't, I know I am always welcome, because after all... Once an Eagle, always an Eagle!
        </div>
    </div>

<% include ./partials/foot.ejs %>