<% include ./partials/head.ejs %>

    <div id="theater">
        <div id="contentwrapper">
            <p class="h1 h1headers">Congratulations Cast of</p>
            <a href="https://www.youtube.com/watch?v=drY9t5EO_XE&list=PLAFC62DB9C8B66FB3" target="_blank">
                <img src="http://images.pcmac.org/SiSFiles/Schools/KY/MeadeCounty/MeadeCountyHigh/Uploads/News/%7B2ACEBD5B-3069-4F04-AF0E-C4E48C349788%7D_seussical.gif" alt="Suessical the Musical Jr." class="img-fluid rounded mx-auto d-block" id="contentimages">
            </a>
            <p class="h1 h1headers">
                February 22 & 23, 2019
                <br>
                Another Amazing School-wide Performance by Villa Madonna!
            </p>
            <p class="h1 h1headers p-5">Click the Images for Songs!</p>
            <div id="childselector">
                <div>
                    <a href="https://www.youtube.com/watch?v=LU8xYC_QOpI" target="_blank">
                        <img src="http://clipart-library.com/data_images/401345.png" alt="Suessical the Musical Jr." class="img-fluid rounded mx-auto d-block" id="contentimages">
                    </a>
                </div>
                <div>
                    <a href="https://www.youtube.com/watch?v=36b07-zZZ8A&index=2&list=RDzVxueCPmdVE" target="_blank">
                        <img src="http://pluspng.com/img-png/cat-in-the-hat-png-hd-image-cat-in-hat-character1-png-dr-seuss-wiki-clip-art-library-cat-and-the-hat-418.png" alt="Suessical the Musical Jr." class="img-fluid rounded mx-auto d-block" id="contentimages">
                    </a>
                </div>
            </div>
            <div id="childselector">
                <div>
                    <a href="https://www.youtube.com/watch?v=l7IXsucR1MU&index=2&list=RDzVxueCPmdVE" target="_blank">
                        <img src="https://vignette.wikia.nocookie.net/seuss/images/d/d3/Photos-of-dr-seuss-books-clip-art-dr-seuss-cat-in-the-2.png/revision/latest?cb=20170126193319" alt="Suessical the Musical Jr." class="img-fluid rounded mx-auto d-block" id="contentimages">
                    </a>
                </div>
                <div>

                
                </div>
            </div>
        </div>
    </div>

<% include ./partials/foot.ejs %>