<% include ./partials/head.ejs %>

    <div id="contentwrapper">
        <p class="h1 h1headers">
            Our Mission Statement:
        </p>
        <p class="lesserheader">
            "We are Villa Madonna Catholic School. We achieve academic excellence in a family spirit, using St. John Bosco's principles of Reason, Religion, and Loving Kindness. 
            To become lifelong learners we Work, Play, Study, and Pray."
        </p>
        <div class="card-text" id="centerobj">
            <a href="https://online.factsmgt.com/signin/3CJMF" target="_blank"><button type="button" class="btn btn-lg btn-primary m-1" id="familycards">FACTS Tuition Link</button></a>
            <a href="files/peinfo.pdf" target="_blank"><button type="button" class="btn btn-lg btn-primary m-1" id="familycards">PE Uniform Flyer</button></a>
            <a href="https://www.plusportals.com/VillaMadonnaSchool" target="_blank"><button type="button" class="btn btn-lg btn-primary m-1" id="familycards">PlusPortals</button></a>
        </div>
    </div>

    <div id="contentwrapper">
        <p class="h1 h1headers">2018-2019 Salesian Message</p>
        <div class="contentfontsize">
            Our Salesian Message, also known as a Pastoral Theme, is a faith-based project, embraced by our entire school community. Each year, our message focuses on a new and different 
            theme, aimed at deepening our relationship to God, and one another. The annual theme can be seen in displays and lessons in each classroom. It can be heard each morning, during 
            announcements. Students of the Month are also chosen based on our school-wide theme. 
        </div>
        <img src="images/villa-family/listeninggod.webp" alt="Villa Madonna Listening for God" class="img-fluid rounded mx-auto d-block p-2" id="contentimages">
        <p class="lesserheader">We encourage your family to share our annual theme in your homes, in your own way. Here are some tips to help bring our theme alive in your home this year:</p>

        <!-- MASSIVE DUMP OF TEXT INCOMING -->
        <div class="contentfontsize">
            <strong>August & September -  Wonder :</strong> Embrace new beginnings, the new school year, a new job, even a new day or a new way of looking at things. Enjoy the wonder of the little things, 
            and share with each other something new you noticed in your day. Listen for God's message for YOU in new things around you.
        </div>
        <div class="contentfontsize pt-4">
            <strong>October & November – Gratitude:</strong> October is the month of the rosary and November brings Thanksgiving and the beginning of the holiday season. Our to-do lists grow long and our 
            patience may grow short. Call your attention several times a day to your many large and small blessings, commit to saying a daily Hail Mary as a family, or see who can name the 
            most blessings. Listen for God's many blessings.
        </div>
        <div class="contentfontsize pt-4">
            <strong>December & January– Integrity:</strong> Keep the focus on family and tradition during the Christmas season. Remind one another of the true meaning of Christmas, which is 
            love and the birth of Jesus. Embrace family traditions and church traditions. Bring out special decorations such as the Nativity scene or advent wreath, and share family recipes, 
            stories, and traditions. Make family new year resolutions. Slow down and don't let the season distract you from your most precious gift; your family. Listen for God in those 
            around you, and in traditions.
        </div>
        <div class="contentfontsize pt-4">
            <strong>February & March– Resilience:</strong> As the school year brings testing and many school events, stay strong and help one another manage stress in a healthy way. 
            Rely on healthy routines, discipline, and call on God for strength. Help each other overcome struggles, and not run from them. Be each other's source of strength. Listen for 
            God's message of strength. He never gives you more than you can bear. Sometimes your resilience is a sign of hope for those around you.
        </div>
        <div class="contentfontsize pt-4">
            <strong>April & May - Gentleness:</strong> As the school year comes to an end, so may our patience with one another. Ironically, doing something nice for another actually makes us 
            feel better even when we feel wronged. Look for a chance to help others as a family. Be present and make time for family discussions where they naturally happen (in the car, at bedtime, 
            at the kitchen counter). Listen for God's gentle message; imagine His gentle touch on your shoulder when you feel angry or depleted.
        </div>
        <!-- TEXT DUMP OVER -->
    </div>

    <div id="contentwrapper">
        <p class="lesserheader">
            Discover the True Power of Prayer:
            <br>
            3 Hail Mary's every day for 9 days
        </p>
        <div class="contentfontsize">
            Worried about something? In desperate need of prayer for yourself or others? Do you want something better for your life or for your family? Do you wish to thank God for 
            special blessings you have received? Say 3 Hail Mary's without fail, everyday, for 9 days. Every day, ask Mary for your intention. Be patient, and watch Mary work wonders in your 
            life!  A NOVENA is a 9 day series of prayer. Asking Mary directly for help is considered a special type of prayer. The power of daily Hail Mary's can be seen worldwide. You don't 
            need to say an entire rosary to be heard by Mary. Start with a simple 9 day novena of 3 Hail Mary's.  
        </div>
        <img src="images/villa-family/maryandjesus.webp" alt="Mary and Jesus" class="img-fluid rounded mx-auto d-block p-2" id="contentimages">
    </div>

    <p class="h1 h1headers">Student Highlights</p>

    <div id="contentwrapper">
        <div id="childselector">
            <div>
                <a href="https://www.nationalgeographic.org/education/student-experiences/geobee/" target="_blank"><img src="images/villa-family/natgeo.webp" alt="National Geogrpahic Bee" class="img-fluid rounded mx-auto d-block p-2" id="contentimages contentheightimage"></a>
                <p class="lesserheader">Villa Madonna Winners of National Geographic Bee:</p>
                <div class="contentfontsize text-center">
                    2017-2018 Ben Kantor
                    <br>
                    2018-2019 Harry Kantor 
                </div>
            </div>
            <div>
                <p class="lesserheader">2017-18 Ana Maria Award Winners</p>
                <div class="contentfontsize">
                    The Ana Maria Auxilium Award is presented to one student in every grade every year, who shows outstanding character, service to others, and leadership. Winners receive a 
                    full scholarship for the following school year.
                </div>
                <div class="contentfontsize fancyfont text-center pt-4">
                    Kindergarten - Gianna A
                    <br>
                    1st - Ruby R
                    <br>
                    2nd - Luke L
                    <br>
                    3rd - Harry K
                    <br>
                    4th - Ethan D
                    <br>
                    5th - Noah C
                    <br>
                    6th - Javier M
                    <br>
                    7th - Max M
                </div>
            </div>
        </div>
    </div>

    <div id="contentwrapper">
        <img src="images/villa-family/mathbee.webp" alt="Math Bee" class="img-fluid rounded mx-auto d-block p-2" id="contentimages contentheightimage">
        <div class="lesserheader">
            DIOCESAN MATH BOWL & MATH LEAGUE 
            FOR PRIVATE SCHOOLS
            <br>
            Villa Madonna Grades 3-5 win 1st Place Overall 2016, 2017
            <br>
            Villa Madonna Grades 3-5 win Overall STEM prize 2017
            <br>
            Villa Madonna Grades 6-8 win 2nd Place Overall 2017
            <br>
            Villa Madonna Grades 6-8 win 3rd Place Overall 2016
        </div>
    </div>

    <div id="contentwrapper">
        <a href="https://www.global-math.com/" target="_blank"><img src="images/villa-family/sonyglobal.webp" alt="Sony Global Math" class="img-fluid rounded mx-auto d-block p-2" id="contentimages"></a>
        <div class="lesserheader">
            2018-2019 Villa Global Mathletes
            <br>
            The following students exceeded the national or world average score:
        </div>
        <!-- im sorry for the mess or <br>'s, please forgive me as I hope I can forgive myself some day-->
        <div class="contentfontsize text-center">
            <strong><em>3rd & 4th Grade </em></strong>
            <br>
            Cassidy M – 1st Place
            <br>
            Juno C – 2nd Place
            <br>
            Anthony Z – 3rd Place
            <br>
            Gabriel C
            <br>
            Bryson W
            <br>
            Jacob L
            <br>
            Natalie P
            <br>
            Vera R
            <br>
            <strong><em>5th & 6th Grade </em></strong>
            <br>
            Kyla U – 1st Place
            <br>
            Gaizka B – 2nd Place
            <br>
            Ethan D – 3rd Place
            <br>
            Isabel G
            <br>
            Emily P
            <br>
            Rocco F
            <br>
            Lauren B
            <br>
            Kevin R
            <br>
            Joseph A
            <br>
            Alex L
            <br>
            Meredith M
            <br>
            Melanie K
            <br>
            Noah C
            <br>
            <strong><em>7th Grade & 8th Grade</em></strong>
            <br>
            Sydney K – 1st Place
            <br>
            Anna A – 2nd Place
            <br>
            Roy D – 3rd Place
            <br>
            Kendall M
        </div>
    </div>

    <div id="contentwrapper">
        <img src="images/villa-family/acreader.png" alt="Accelerated Reader" class="img-fluid rounded mx-auto d-block p-2" id="contentimages">
        <p class="lesserheader">
        <strong><em>Top Ten AR Point Earners</em></strong>
        <br>
        1st Through 7th Grade
        <br> 
        2017-2018 School Year
        </p>
        <div id="childselector" class="contentfontsize text-center">
            <div>

                <div>
                    <strong><em>First Grade:</em></strong>
                    <br>
                    Ruby ---56.70
                    <br>
                    Nora---39.20
                    <br>
                    Ethan---36.60
                    <br>
                    Morgan---34.00
                    <br>
                    River---29.30
                    <br>
                    Julia---24.20
                    <br>
                    Marco---24.00
                    <br>
                    Mikayla---20.80
                    <br>
                    Cidmarie---19.20
                    <br>
                    Delilah---16.70
                </div>

                <div class="pt-2">
                    <strong><em>Second Grade:</em></strong>
                    <br>
                    Luke---158.5
                    <br>
                    Jacob---129.0
                    <br>
                    Everett---123.4
                    <br>
                    Aidan---106.3
                    <br>
                    Luca---70.4
                    <br>
                    Ellie---54.7
                    <br>
                    Blake---50.3
                    <br>
                    Finley---41.8
                    <br>
                    Eli---40.8
                    <br>
                    Cassidy---39.9
                </div>

                <div class="pt-2">
                    <strong><em>Third Grade:</em></strong>
                    <br>
                    Gianna---247.8
                    <br>
                    Chloe---236.8
                    <br>
                    Ian---183.3
                    <br>
                    Brody---117.0
                    <br>
                    Vera---103.5
                    <br>
                    Jack---82.7
                    <br>
                    Alijah---82.2
                    <br>
                    Celeste---78.8
                    <br>
                    Anthony---73.4
                    <br>
                    Harry---70.7
                </div>

                <div class="pt-2">
                    <strong><em>Fourth Grade:</em></strong>
                    <br>
                    Maya---482.5
                    <br>
                    William---441.9
                    <br>
                    Rocco---400.9
                    <br>
                    Lauren---347.3
                    <br>
                    Ethan---319.9
                    <br>
                    Gaizka---301.5
                    <br>
                    Sarah---249.3
                    <br>
                    Ella---236.9
                    <br>
                    Domenica---202.8
                    <br>
                    Joseph---155.0
                </div>

            </div>
            <div>

                <div>
                    <strong><em>Fifth Grade:</em></strong>
                    <br>
                    Evelyn---328.6
                    <br>
                    Olivia---148.7
                    <br>
                    Elle---146.5
                    <br>
                    Demiah---99.3
                    <br>
                    Clare---97.8
                    <br>
                    Jacob---92.2
                    <br>
                    Malanie---89.3
                    <br>
                    Anne---79.3
                    <br>
                    Cadence---77.5
                    <br>
                    John---76.3
                </div>

                <div class="pt-2">
                    <strong><em>Sixth Grade:</em></strong>
                    <br>
                    Isabella---537.0
                    <br>
                    Ethan---330.9
                    <br>
                    Emma---322.7
                    <br>
                    Olivia---260.9
                    <br>
                    William---190.0
                    <br>
                    Adrian---171.4
                    <br>
                    Kaleb---147.4
                    <br>
                    Alexander---127.3
                    <br>
                    Bridget---120.6
                    <br>
                    Sophia---111.7
                </div>

                <div class="pt-2">
                    <strong><em>Seventh Grade:</em></strong>
                    <br>
                    Benjamin---614.3
                    <br>
                    Anna---534.5
                    <br>
                    Javon---382.5
                    <br>
                    Autumn---335.6
                    <br>
                    Sydney---315.9
                    <br>
                    Camryn---304.7
                    <br>
                    Holden---261.8
                    <br>
                    Thien Anh---247.4
                    <br>
                    Sawyer---236.8
                    <br>
                    Adam---212.1     
                </div>

            </div>
        </div>
    </div>

<% include ./partials/foot.ejs %>